<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CanGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1A42D481E15F0FF001AB20F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A42D5C1E15F0FF001AB20F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A42D671E15F0FF001AB20F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
